<%- include('include/header-connect') %>

<section class="page-title cyan darken-1 white-text" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div id="logo-title" class="col s3 m1">
                <i class="medium material-icons">search</i>
            </div>

            <div class="col s9 m8">
                <h3><%=title%></h3>
            </div>
        </div>

    </div>

</section>

<section class="page-content" id="rechercherOffres">
    <div class="container">

        <div class="row">
            <h2 style="text-align: center">Formulaire de modification</h2>
            <div class="col s12 m10 offset-m1">
                <form method="post" action="/modifierCandidat">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active"><i class="material-icons">description</i>Description
                                générale
                            </div>
                            <div class="collapsible-body">
                                <div class=" input-field col s10 offset-m2">
                                    <div  class="input-field col s10">
                                        <% if (nom != null) { %>
                                        <input value="<%=nom%>" type="text" name="nomCandidat">
                                        <% } else { %>
                                        <input type="text" name="nomCandidat" placeholder="Nom">
                                        <% } %>
                                    </div>

                                    <div  class="input-field col s10">
                                        <% if (prenom != null) { %>
                                        <input value="<%=prenom%>" type="text" name="prenomCandidat">
                                        <% } else { %>
                                        <input type="text" name="prenomCandidat" placeholder="Prenom">
                                        <% } %>
                                    </div>

                                    <div  class="input-field col s10">
                                        <% if (dateNaissance != null) { %>
                                        <input  value="<%=dateNaissance%>" type="date" name="dateNaissanceCandidat" class="datepicker">
                                        <% } else { %>
                                        <input type="date" name="dateNaissanceCandidat" class="datepicker" placeholder="Date de Naissance">
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">call</i>Coordonnées téléphoniques</div>
                            <div id="parent" class="collapsible-body">
                                <div class=" input-field col s10 offset-m2">
                                    <div  class="input-field col s10">
                                        <% if (telFixe != null) { %>
                                        <input value="<%=telFixe%>" type="text" name="telFixeCandidat">
                                        <% } else { %>
                                        <input type="text" name="telFixeCandidat" placeholder="Tel fixe">
                                        <% } %>
                                    </div>

                                    <div  class="input-field col s10">
                                        <% if (telMobile != null) { %>
                                        <input value="<%=telMobile%>" type="text" name="telMobileCandidat">
                                        <% } else { %>
                                        <input type="text" name="telMobileCandidat" placeholder="Tel Portable">
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">navigation</i>Adresse</div>
                            <div id="parent" class="collapsible-body">
                                <div class=" input-field col s10 offset-m2">
                                    <div  class="input-field col s10">
                                        <% if (adresse != null) { %>
                                        <input value="<%=adresse%>" type="text" name="adresseCandidat" >
                                        <% } else { %>
                                        <input type="text" name="adresseCandidat" placeholder="Adresse">
                                        <% } %>
                                    </div>

                                    <div  class="input-field col s10">
                                        <% if (ville != null) { %>

                                        <div id="locationField" class="input-field col s10">
                                            <input id="autocomplete" value="<%=ville%>" onFocus="geolocate()" name="lieu" type="text" class="validate">
                                        </div>
                                        <div id="address">
                                            <input type="hidden" name="villeCandidat" id="locality" disabled="false"/>
                                        </div>
                                        <% } else { %>
                                    </div>

                                    <div id="locationField" class="input-field col s10">
                                        <input id="autocomplete" placeholder="Ville" onFocus="geolocate()" name="lieu" type="text" class="validate">
                                    </div>
                                    <div id="address">
                                        <input type="hidden" name="villeCandidat" id="locality" disabled="false"/>
                                    </div>
                                    <% } %>

                                    <div  class="input-field col s10">
                                        <% if (cp != null) { %>
                                        <input value="<%=cp%>" type="text" name="cpCandidat" >
                                        <% } else { %>
                                        <input type="text" name="cpCandidat" placeholder="Code Postal">
                                        <% } %>
                                    </div>

                                    <div  class="input-field col s10">
                                        <select id="select_pays" name="pays">
                                            <option value="<%=paysusr%>" selected="selected"><%=paysusr%> </option>
                                            <% for(var i = 0; i<pays.length; i++) {%>
                                            <option value="<%=pays[i].id%>"><%=pays[i].intitule%></option>
                                            <%}%>
                                        </select>
                                    </div>

                                    <div id="select_departement" class="input-field col s10">
                                        <select  name="dep">
                                            <option value=<%=departementusr%> ><%=departementusr%> </option>
                                            <% for(var i = 0; i<departement.length; i++) {%>
                                            <option value="<%=departement[i].id%>"><%=departement[i].intitule%></option>
                                            <%}%>
                                        </select>
                                    </div>

                                    <div  class="input-field col s10">
                                        <% if (mobilite != null) { %>
                                        <input value="<%=mobilite%>" type="text" name="mobiliteCandidat" >
                                        <% } else { %>
                                        <input type="text" name="mobiliteCandidat" placeholder="Mobilité">
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">perm_identity</i>Information de connexion</div>
                            <div id="parent" class="collapsible-body">
                                <div class="container">
                                    <input type="hidden" name="mail" value="<%=mail%>">
                                    <input type="hidden" name="mdp" value="<%=mdp%>">
                                    <% if (errornum == null) { %>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td><input type="text" name="mailCandidat" placeholder="Mail"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="confirmationMailCandidat" placeholder="Confirmation Mail"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="password" name="mdpCandidat" placeholder="Mot de passe"></td>
                                        </tr>
                                        <tr>
                                            <td> <input type="password" name="confirmationMdpCandidat" placeholder="Confirmation Mot de passe"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <% } else if (errornum == '1') { %>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td><input value="<%=mail%>" type="text" name="mailCandidat" ></td>
                                        </tr>
                                        <tr>
                                            <td><input value="<%=mail%>" type="text" name="confirmationMailCandidat"></td>
                                        </tr>
                                        <tr>
                                            <td>Les mots de passe sont différents !!</br>
                                                <input type="password" name="mdpCandidat" placeholder="Mot de passe" class="invalid"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="password" name="confirmationMdpCandidat" placeholder="Confirmation Mot de passe" class="invalid"> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <% } else if (errornum == '2') { %>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td>Les adresses Email sont différentes !!</br>
                                                <input type="text" name="mailCandidat" placeholder="Mail" class="invalid"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="confirmationMailCandidat" placeholder="Confirmation Mail" class="invalid"></td>
                                        </tr>
                                        <tr>
                                            <td><input value="<%=mdp%>" type="password" name="mdpCandidat" > </td>
                                        </tr>
                                        <tr>
                                            <td><input value="<%=mdp%>" type="password" name="confirmationMdpCandidat"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <% } else if (errornum == '3') { %>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td> Les adresses Email sont différentes !!
                                                <input type="text" name="mailCandidat" placeholder="Mail" class="invalid"> </td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="confirmationMailCandidat" placeholder="Confirmation Mail" class="invalid"></td>
                                        </tr>
                                        <tr>
                                            <td> Les mots de passe sont différents !!
                                                <input type="password" name="mdpCandidat" placeholder="Mot de passe" class="invalid"> </td>
                                        </tr>
                                        <tr>
                                            <td><input type="password" name="confirmationMdpCandidat" placeholder="Confirmation Mot de passe" class="invalid"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <% } %>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="elements_Candidat">
                    </div>
                    <div class="row center-align">
                        <p class="center-align">
                            <div class="row center-align">
                                <a href="#modalmdp" class="modal-trigger  btn-floating btn-large waves-effect waves-light red"><i class="material-icons">done</i></a>
                            </div>
                            <button class="btn waves-effect waves-light disabled" type="submit" name="enregistrer" >Enregistrer
                                <i class="material-icons right">send</i>
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Fenêtre modale de confirmation de changement d'identifiants -->
<div id="modalmdp" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Veuillez saisir ci-dessous votre mot de passe actuel afin de confirmer les changements</h4>
        <div class="row"
             style="border-bottom: 1px solid #ddd; padding-bottom: 20px; padding-top: 20px">
            <div id="modaldata" class="input-field col s12">
                <div class="input-field col s12">
                    <input name="mdpancien" type="password" length="50">
                    <label for="mdpancien">Veuillez saisir votre mot de passe actuel</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row center-align modal-footer">
        <a href="#!" id="testmdp"  class="modal-action modal-close btn-floating btn-large waves-effect waves-light red"><i class="material-icons">done</i></a>
    </div>
</div>

<script src="/js/autocomplete-AjoutCandidat.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvTewOiQvvKOS9RNOjYIN-qgE9NrcSKy4&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>

<%- include('include/footer') %>

<script type="text/javascript" src="/js/modifiercandidat-event.js"></script>
