<%- include('include/header') %>

<section class="page-title cyan darken-1 white-text">
    <div class="container">
        <div class="row">
            <div id="logo-title" class="col s3 m1">
                <i class="medium material-icons">search</i>
            </div>

            <div class="col s9 m8">
                <h3><%= title %></h3>
            </div>
        </div>

    </div>

</section>

<section class="page-content" id="rechercherCVs">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 offset-m2">

                <h4>CVs  Recherche</h4>
                <% if(messageErr != null){%>
                <div id="messageErr" class="card-panel teal lighten-2"><%=messageErr%></div>
                <%}%>
                <form action="/rechercheCvs" method="post">


                    <h4>Niveau d'&eacutetude</h4>
                    <div class="col s12">
                        <% for(var i = 0; i<niveauEtude.length; i++) {%>
                        <p>
                            <input type="checkbox" name="nivEtude" value="<%=niveauEtude[i].id%>" id="<%=niveauEtude[i].id%>"/>
                            <label for="<%=niveauEtude[i].id%>"><%=niveauEtude[i].intitule%></label>
                        </p>
                        <%}%>
                    </div>

                    <p class="center-align">
                        <button type="submit" name="rechercher" class="waves-effect waves-light btn blue-grey darken-1">
                            <i class="material-icons left">search</i>Rechercher
                        </button>
                    </p>
                </form>
            </div>

            <div class="col s12 m3">
                <!--<p><a class="waves-effect waves-light btn blue-grey darken-1"><i class="material-icons left">info</i>En savoir plus</a></p>-->
            </div>
        </div>
    </div>
</section>

<script src="/js/autocomplete-gmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvTewOiQvvKOS9RNOjYIN-qgE9NrcSKy4&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>

<%- include('include/footer') %>

