<%- include('include/header') %>

<section class="page-title cyan darken-1 white-text">
    <div class="container">
        <div class="row">
            <div id="logo-title" class="col s3 m1">
                <i class="medium material-icons">search</i>
            </div>

            <div class="col s9 m8">
                <h3><%= title %></h3>
            </div>
        </div>

    </div>

</section>

<section class="page-content" id="rechercherOffres">
    <div class="container">
        <div class="row">
            <div class="col s12 m7 offset-m2">

                <h4>Poste recherché</h4>
                <% if(messageErr != null){%>
                    <div id="messageErr" class="card-panel teal lighten-2"><%=messageErr%></div>
                <%}%>
                <form action="/rechercheOffres" method="post">
                    <div class="input-field col s12">
                        <p>Intitulé du poste</p>
                        <input placeholder="Mots-cles" name="intitulePoste" type="text" class="validate">

                    </div>

                    <div id="locationField" class="input-field col s12">
                        <p>Lieu du poste</p>
                        <input id="autocomplete" placeholder="Pays, région, département ou ville" onFocus="geolocate()" name="lieu" type="text" class="validate">

                    </div>

                    <div id="address">
                        <input type="hidden" name="ville" id="locality" disabled="true"/>
                        <input type="hidden" name="region" id="administrative_area_level_1" disabled="true"/>
                        <input type="hidden" name="departement" id="administrative_area_level_2" disabled="true"/>
                        <input type="hidden" name="pays" id="country" disabled="true"/>
                    </div>

                    <h4>Niveau d'étude</h4>
                    <div class="col s12">
                        <% for(var i = 0; i<niveauEtude.length; i++) {%>
                        <p>
                            <input type="checkbox" name="nivEtude" value="<%=niveauEtude[i].id%>" id="<%=niveauEtude[i].id%>"/>
                            <label for="<%=niveauEtude[i].id%>"><%=niveauEtude[i].intitule%></label>
                        </p>
                        <%}%>
                    </div>


                    <div class="switch ">
                        <h4>Adapté aux handicaps</h4>
                        <label>
                            Non
                            <input type="checkbox" name="handicap">
                            <span class="lever"></span>
                            Oui
                        </label>
                    </div>


                    <p class="center-align">
                        <button type="submit" name="rechercher" class="waves-effect waves-light btn blue-grey darken-1">
                            <i class="material-icons left">search</i>Rechercher
                        </button>
                    </p>
                </form>
            </div>

            <div class="col s12 m3">
                <!--<p><a class="waves-effect waves-light btn blue-grey darken-1"><i class="material-icons left">info</i>En savoir plus</a></p>-->
            </div>
        </div>
    </div>


</section>

<script src="/js/autocomplete-gmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvTewOiQvvKOS9RNOjYIN-qgE9NrcSKy4&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>

<%- include('include/footer') %>
